<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <title>Divyata</title>

</head>
<style>
.card {
    margin-left: 33%;
    margin-right: 33%;
    width: 33%;
    margin-top: 20px;
    border: none;
    background-image: url("https://ak5.picdn.net/shutterstock/videos/175465/thumb/1.jpg")
}
body {
    background-image: url("https://i2-prod.chroniclelive.co.uk/incoming/article16711899.ece/ALTERNATES/s1200/1_Shopping-cart-view-in-Supermarket-aisle-with-product-shelves-abstract-blur-defocused-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



</style>
<body>

    <h2 style="color: purple;"> <center> Proceed To Buy </center></h2>
    <div class="card">
        <form class="form-group">
            <b>TITLE : </b><input class="form-control" type="text" value="{{item.product.title}}" readonly><br>
            <b>DESCRIPTION : </b><input class="form-control" type="text" value="{{item.product.description}}" readonly><br>
            <b>UNITS : </b><input class="form-control" type="text" value="{{item.unit}}" readonly><br>
            <b>TOTAL PRICE : </b><input class="form-control" type="text" value="{{item.total}}" readonly><br>
        </form>
        
    </div>
<td><center><a href="{%url 'confirmOrder' item.product.id %}"><button class="btn btn-success"> Confirm Order </button></a></center></td>
</body>

</html>