<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
tr {
    text-align: center;
}
a {
    color: black;
}
th {
    color:black;
    font: bolder;
    text-align: center;
}
div.footer {
    display: inline-block;
    margin-left: 150px;
}
body {
    background-image: url("https://i2-prod.chroniclelive.co.uk/incoming/article16711899.ece/ALTERNATES/s1200/1_Shopping-cart-view-in-Supermarket-aisle-with-product-shelves-abstract-blur-defocused-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

</style>


<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
					<h4 class="alert-heading">Success</h4>
						<td><center><a href="/products"><button class="btn btn-danger"> Home </button></a></center></td>
				</div>
			</div>
		</div>
	</div>
</body>
</html>